
.imageEqp img{
    width: 300px;
    height: 245px;
    margin: 10px;
}
.imageEqp{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h3{
    font-family:Copperplate, Papyrus, fantasy;
}
html{
    
    border-width: 30px;                                                     
    border-style: solid;
    border-color: rgb(226, 227, 229);
}
body{
    background-color: rgb(189, 197, 197);
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.YC{
    display:flex;
    justify-content: center;
}

